li{
  list-style-type:none
}
.takos_constructor{
  .total_price_fixed{
    position: fixed;
    bottom: 0px;
    width: 32%;
    height: 95px;
    background-color: #F77E0B;
    display: flex;
    text-align: right;
    justify-content: space-between;
    align-items: center;
    .total_price{
      margin-left: 20px;
      color: white;
      font-size: 30px;
      .full_price{
        display: block;
        color: black;
        font-size: 16px;
      }
    }
    .our_menu_left{
      margin-right: 190px;
      float: none;
      margin-top: 31px;
    }
    .our_menu_left {
      .our_menu_link {
        .arrow{
          background-color: black;
        }
      }
    }
  }
  .header_block_constructor{
    margin: 140px 0 0 140px;
  }
  .constructor_desc{
    background-image: url(../images/desc.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 715px;
    position: relative;
    .pizza{
      background-image: url(../images/basefull.png);
      background-size: contain;
      background-repeat: no-repeat;
      width: 100%;
      height: 400px;
      position: absolute;
      top: 130px;
      left: 296px;
      transition: 1s;
      opacity: 0;
    }
  }
  .ingridients{
    background-color: $white_lite;
    width: 100%;
    height: 100%;
    margin-left: 15px;
    margin-top: 100px;
    h3{
      padding-top: 25px;
      padding-left: 27px;
      padding-bottom: 25px;
      font-size: 25px;
      color: $orange;
    }
    > ul{
      overflow: scroll;
      padding-bottom: 255px;
      max-height: 100vh;
      padding-left: 30px;
      padding-right: 25px;
      > li{
        font-size: 16px;
        font-family: $opensans;
        color: rgba(27,25,28, 0.7);
        font-weight: bold;
      }
    }
    > ul::-webkit-scrollbar
    {
      width: 5px;
      background-color: rgba(27,25,28,0.2);
    }

    > ul::-webkit-scrollbar-thumb
    {
      background-color: $orange;
    }
    ul{
      padding-left: 13px;
      .products{
        list-style-type: none;
        height: 105px;
        background-color: rgba(27, 25, 28, 0.1 );
        margin-bottom: 20px;
        position: relative;
        overflow: hidden;
        text-align: center;
        font-weight: 400;
        .success_img{
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          width: 43px;
          height: 105px;
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
        }
        .takos_img{
          max-width: 36%;
          position: relative;
          top: 30px;
          left: -40px;
          display: block;
          width: 20%;
          height: auto;
          transition: all 0.3s ease-in;
        }
        .content_wpapper{
          text-align: left;
          margin-left: 60px;
        }
        .select_product{
          display: inline-block;
          -ms-flex-align: center;
          width: 75%;
          text-align: right;
        }
        .wrapper_price {
          display: flex;
          justify-content: space-between;
        }
        .takos_title{
          color: black;
          font-family: $KGB;
          font-size: 20px;
          margin-left: 60px;
          transition: all 0.3s ease-in;
          display: inline-block;
          font-weight: 400;
        }
        .choose_product_button{
          cursor: pointer;
          border: 2px solid #1B191C;
          width: 40px;
          opacity: 0.1;
          height: 40px;
          margin-right: 15px;
          border-radius: 20px;
          position: relative;
          float: right;
          top: -3px;
          .amount{
            display: none;
            opacity: 0;
          }
        }
        .amount{
          font-weight: 400;
          color: black;
          font-family: $KGB;
          font-size: 20px;
          margin-left: 25px;
          transition: all 0.3s ease-in;
          display: inline-block;
        }


        &:hover{
          .takos_title, .amount{
            color: $orange;
            transition: all 0.3s ease-in;
          }
          .takos_img{
            left: 0;
            transition: all 0.3s ease-in;
          }
          .choose_product_button{
            transition: all 0.3s ease-in;
            opacity: 1;
            border-color: $orange;
            background-color: $orange;
            &:after{
              transition: all 0.3s ease-in;
              content: "";
              background-image: url(../images/+.svg);
              background-size: contain;
              background-repeat: no-repeat;
              width: 20px;
              height: 20px;
              position: relative;
              left: 8px;
              top: 8px;
              display: block;
              color: white;
            }
          }
        }
        p{
          font-size: 12px;
          color: rgba(27,25,28, 0.7);
          display: inline;
        }
        .content{
          color: $orange;
        }

        .disabled{
          //pointer-events: none
        }
      }
    }
  }
  .ingridients2{
    background-color: $white_lite;
    width: 100%;
    height: 100%;
    margin-left: 15px;
    margin-top: 100px;
    .back_btn_black{
      display: inline-block;
      position: relative;
      top: 35px;
      left: 60px;
      .our_menu_left{
        float: none;
        .our_menu_link {
          .our_menu_text{
            left: -10px;
            color: $orange;
          }
          .arrow{
            background-color: $black;
            .arrow_white{
              width: 52px;
              transform: rotate(180deg);
            }
          }
        }
        &:hover{
          .our_menu_link {
            .our_menu_text {
              left: -30px;
            }
          }
        }
      }
    }
    .select_product {
      position: relative;
      .add_ingridient, .increment_ingridient, .decrement_ingridient, .remove_ingridient {
        position: absolute;
        left: 0;
        background: white;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 30px;
        font-size: 36px;
        z-index: 50;

        transition: all 0.3s ease-in;
      }

      .add_ingridient {
        top: -88px;
        left: 29px;
        background-color: $orange;
        width: 44px;
        height: 44px;
        opacity: 0;
        &:after {
          transition: all 0.3s ease-in;
          content: "";
          background-image: url(../images/+.svg);
          background-size: contain;
          background-repeat: no-repeat;
          width: 20px;
          height: 20px;
          position: relative;
          left: 11px;
          top: -18px;
          display: block;
          color: white;
        }
      }

      .decrement_ingridient {
        left: 40px;
        background: lightblue;
      }

      .remove_ingridient {
        left: 60px;
        background: pink;
      }
    }

    h3{
      padding-top: 20px;
      padding-left: 20px;
      padding-bottom: 20px;
      font-size: 25px;
      color: $orange;
      display: inline-block;
    }
    ol{
      overflow: scroll;
      padding-bottom: 255px;
      max-height: 100vh;
      padding-left: 30px;
      padding-right: 25px;
      > li{
        list-style-type: decimal;
        font-size: 30px;
        color: $orange;
        span{
          font-family: $opensans;
          font-weight: bold;
          color: $black;
          font-size: 16px;
        }
      }
    }
    ol::-webkit-scrollbar
    {
      width: 5px;
      background-color: rgba(27,25,28,0.2);
    }

    ol::-webkit-scrollbar-thumb
    {
      background-color: $orange;
    }
    .back_btn{
      display: inline-block;
    }
    ul{
      padding-left: 0;
      .products{
        background-image: url(../images/plate.png);
        background-size: contain;
        background-repeat: no-repeat;
        list-style-type: none;
        margin-bottom: 20px;
        width: 26%;
        margin-right: 22px;
        display: inline-block;
        position: relative;
        &:hover{
          cursor: pointer;
          &:before{
            content: '';
            background-color: white;
            border-radius: 60px;
            opacity: 0.3;
            display: block;
            width: 105px;
            height: 105px;
            top: -1px;
            position: absolute;
          }
          //background-color: white;
          .select_product{
            .add_ingridient{
              opacity: 1;
              background: $orange;
              position: absolute;
              border-radius: 50%;
              width: 44px;
              height: 44px;
              text-align: center;
              line-height: 30px;
              font-size: 36px;
              z-index: 50;
              transition: all 0.3s ease-in;
             }
          }
        }

        .success_img{
          background-size: contain;
          background-repeat: no-repeat;
          width: 73px;
          position: relative;
          left: 15px;
          top: 17px;
          height: 105px;
          display: inline-block;
        }
        .takos_title{
          color: black;
          font-family: $opensans;
          font-size: 14px;
          transition: all 0.3s ease-in;
          display: inline-block;
        }
        .amount{
          color: black;
          font-family: $KGB;
          font-size: 20px;
          margin-left: 25px;
          transition: all 0.3s ease-in;
          display: inline-block;
        }
        .add_to_cart_inline.woocommerce {
          border: none!important;
          display: inline-block;
          padding: 0!important;
          a.button{
            border: 2px solid #1B191C;
            width: 40px;
            opacity: 0.1;
            height: 40px;
            margin-left: 20px;
            border-radius: 20px;
            position: relative;
            top: 10px;
          }
          .added_to_cart{
            display: none;
          }
        }
        &:hover{
          .takos_title, .amount{
            color: $orange;
            transition: all 0.3s ease-in;
          }
          .add_to_cart_inline.woocommerce{
            // margin-top: 22px;
            .amount{
              //position: relative;
              //top: 10px;
            }
            a.button{
              transition: all 0.3s ease-in;
              background-color: $orange!important;
              opacity: 1;
              border-color: $orange!important;
              &:after{
                transition: all 0.3s ease-in;
                content: "";
                background-image: url(../images/+.svg);
                background-size: contain;
                background-repeat: no-repeat;
                width: 20px;
                height: 20px;
                position: relative;
                left: -4px;
                display: block;
                color: white;
              }
            }
            .product_type_simple{
              &:after{
                content: none;
              }
            }
          }
        }
        p{
          font-size: 12px;
          color: rgba(27,25,28, 0.7);
          display: inline;
        }
        .content{
          color: $orange;
        }
        .content_wpapper{
          margin-top: -20px;
          margin-left: 70px;
        }
        .select_product{
          display: flex;
          justify-content: space-around;
          align-items: center;
        }
        .disabled{
          pointer-events: none
        }
      }
    }
  }
  .navbar{
    .nav-tabs{
      border-bottom: none;
      li{
       .active{
         color: $orange;
         opacity: 1;
         font-weight: bold;
         span{
           color: #ECECEC;
           font-weight: normal;
         }
       }
        a{
          opacity: 0.7;
          font-family: $opensans;
          color: #ECECEC;

          .arrow{
            background-image: url(../images/Group22.svg);
            vertical-align: middle;
            background-repeat: no-repeat;
            width: 13px;
            display: inline-block;
            padding: 16px 5px 0 5px;
            margin: 0 9px;
            background-size: contain;
          }
        }

      }
    }
  }
}
.bookmarks{
  li{
    .title2{
      font-size: 20px;
    }
    .info{
      font-size: 16px;
      opacity: 0.7;
    }
  }
}



